@tailwind base;
@tailwind components;
@tailwind utilities;




.c{
  background-color:#f7e5cf;
}


body{
  min-width: 350px;
  font-family: "Sora", sans-serif;
}




.ellipsis-text {
  white-space: nowrap;       /* منع الانتقال لسطر جديد */
  overflow: hidden;          /* إخفاء الجزء الزائد */
  text-overflow: ellipsis;   /* إظهار ثلاث نقاط */
  width: 200px;              /* ضع عرضًا مناسبًا */
}


.shadowBox{
  box-shadow: "22" "22" "22" rgb(36, 33, 33);
}


.inputForm{
  @apply border-[1px] border-primary pr-4 text-[.9rem] w-full h-[2.5rem] rounded-md outline-none ;
}


.box{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.boxSearch{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.no-scrollbar::-webkit-scrollbar { display: none; /* Chrome و Safari */ } 
.no-scrollbar { -ms-overflow-style: none; /* IE و Edge */ scrollbar-width: none; /* Firefox */ }

.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
.loader:after, .loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #ff9100;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.loader:before {
  transform-origin: 0 50%;
  background: #fff;
  /* color: #0000001f; */
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
    